<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="../">
</head>
<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><button type="submit">Regis</button></div>
</form>

</body>
</html>